<title>Paint Matrix</title>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="vendor/stylesheets/default.min.css">
<link rel="stylesheet" href="vendor/stylesheets/alertify.min.css">
<link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
<link href="/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">
<link href="/bower_components/foundation/css/foundation.css" rel="stylesheet" type="text/css">
<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
<script src='/bower_components/jquery/dist/jquery.min.js'></script>
<script src='/bower_components/modernizr/modernizr.js'></script>
<script src='/bower_components/d3/d3.js'></script>
<script src='/bower_components/sweetalert/dist/sweetalert.min.js'></script>
<script src='vendor/javascripts/alertify.js'></script>
<script src='vendor/javascripts/jscolor/jscolor.js'></script>
<script src='/bower_components/foundation/js/foundation.min.js'></script>
<script src='/bower_components/foundation/js/foundation/foundation.topbar.js'></script>
<script src='/bower_components/foundation/js/foundation/foundation.reveal.js'></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
  var socket = io('http://localhost:8080');
</script>
<script src='javascripts/data.js'></script>
<script src='javascripts/rgb.js'></script>
<script src='javascripts/matrix.js'></script>
<script src='javascripts/matrix-collection.js'></script>
<script src='javascripts/controller.js'></script>
<script src='javascripts/view.js'></script>
<script src='javascripts/events.js'></script>
<script src='javascripts/paint.js'></script>
