<html>
<head>
  <% include partials/head %>
</head>
<body>

<% include partials/nav %>

<% include partials/working_board %>

<% include partials/color_wheel_table %>

<div align='row'>
  <div class='small-offset-3 small-6 columns selected-color'>
    Current Color
  </div>
</div>

<% include partials/swatches %>

<div class="row">
  <div class="small-6 small-offset-3 columns">
  Title</br>
    <input type="text" id="working-board-title" class='board-title' />
  </div>
</div>

<div align='row board-button-row'>
  <div class='small-2 small-offset-3 columns board-button-box'>
    <button id="clear">Clear</button>
  </div>
  <div class='small-2 columns board-button-box'>
    <button id="send-serial" onclick="pageController.sendMatrix()">Send</button>
  </div>
  <div class='small-2 columns left board-button-box'>
    <button onclick="pageController.saveCurrentMatrix()">Save</button>
  </div>
</div>

<hr class="neon-border">

<div class="row">
  <div class="small-12 columns svg-collection-row">
  </div>
</div>

<% include partials/footer %>
<script>

  pageController.currentEnvironment = "<%= process.env.ENVIRONMENT || 'development' %>";
</script>
</body>
</home>
</html>
