<html>
<head>
  <% include partials/head %>
</head>
<body>

<% include partials/nav %>

<div align='row'>
  <div class='small-offset-2 small-6 columns centered'>
    <h2>Tech Used</h2>
    <ul>
      <li>Node JS</li>
      <li>Arduino Mega 2560</li>
      <li>LED board</li>
    </ul>
  </div>
</div>

<div align='row'>
  <div class='small-offset-2 small-6 columns centered'>
    <p>Arduino is capable of interfacing with all kinds of different hardware. For this project we chose to use an Arduino Mega with an LED matrix to display our work via our web based paint program!</p>
  </div>
</div>


</body>
</home>
</html>
