body {
  background: grey;
}

.top-bar li .active {
  background-color: #f04124;
}

.top-bar-active {
  background-color: #f04124 !important;
}

.top-bar-active:hover {
  background-color: black !important;
}

.row {
  max-width: 90%;
}

footer {
  height: 50px;
  color: white;
  background-color: black;
  border-top: solid red 2px;
  text-align: right;
}

.footer-text {
  margin-right: 2%;
  margin-top: 5px;
}

.neon-border {
  border: 0;
  height: 0;
  box-shadow: 0 0 3px 4px rgb(255, 45, 0);
  margin-bottom: 2%;
  margin-top: 2%;
}

.neon-border:after {
  content: "\00a0";
}


.paint-cell {
  /*width: 10px;*/
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 4px;
  border: solid black 1px;
}

.paint-canvas {
  background-color: black;
}

.paint-select {
  width: 25px;
  height: 20px;
  border: solid black 2px;
}

.paint-red {
  background-color: red;
}

.paint-blue {
  background-color: blue;
}

.paint-green {
  background-color: green;
}

.paint-yellow {
  background-color: yellow;
}

.color-wheel-table {
  border:1px solid #CCC;
  border-collapse:collapse;
  margin-bottom: 0;
}

.color-wheel-select {
  width: 3px;
  height: 40px;
  padding: 0;
}

.selected-color {
  /*width: 100%;*/
  height: 30px;
  display:none;
  text-align: center;
  margin-bottom: 1%;
  border-bottom: solid black 2px;
  border-right: solid black 2px;
  border-left: solid black 2px;
}

.swatch-container {
  background-color: #cccccc;
  border: solid black 1px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.swatch-row {
  padding: 1%;
}

.swatch-box {
  height: 40px;
  border: solid black 2px;
  background-color: rgb(255,255,255);
}

.mini-matrix-table {
}

.scroll-link {
  color: white;
}

svg {
  background-color: black;
}
svg circle {
  /*fill: red;*/
}

.working-board-svg {
  box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.75);
  margin-bottom: 2%;
  margin-top: 2%;
}

.board-button-row {

}

.sweet-alert fieldset {
  display: none;
}

.swatch-button-row {
  text-align: center;
}

.swatch-button {
  background-color: #f04124;
  padding: .5rem 1.8rem .5rem 1.8rem;
}

.swatch-button:hover {
  background-color: black;
}

.board-button-box {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.board-title {
  text-align: center;
}

.svg-row {
  text-align: center;
}

.collection-row {

}

.remove-svg-text {

  color: red !important;
  font-size: 1.2em;
}

.remove-svg-text:hover {
  color: white;
}

.remove-svg-icon {
  margin-top: 3%;
}

.svg-collection-box {
  text-align: center;
  margin-bottom: 2%;
}

.collection-svg {
  box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
  border: solid white 1px;
  cursor: pointer;
}

.svg-collection-title {
  margin-bottom: 0;
}

.mini-matrix-cell {
  border-radius: 4px;
  border: solid black 1px;
  width: 4px;
  height: 4px;
}
