body {
  background: grey;
}

.row {
  max-width: 90%;
}

.paint-cell {
  /*width: 10px;*/
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 4px;
  border: solid black 1px;
}

.paint-canvas {
  background-color: black;
}

.paint-select {
  width: 25px;
  height: 20px;
  border: solid black 2px;
}

.paint-red {
  background-color: red;
}

.paint-blue {
  background-color: blue;
}

.paint-green {
  background-color: green;
}

.paint-yellow {
  background-color: yellow;
}

.color-wheel-table {
  border:1px solid #CCC;
  border-collapse:collapse;
  margin-bottom: 0;
}

.color-wheel-select {
  width: 2px;
  height: 40px;
  padding: 0;
}

.selected-color {
  /*width: 100%;*/
  height: 20px;
  display:none;
  /*margin-bottom: 1%;*/
}

.swatch-row {
  padding: 1%;
  background-color: grey;
  border: solid black 1px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.swatch-box {
  height: 40px;
  border: solid black 2px;
  background-color: rgb(255,255,255);
}

.mini-matrix-table {
}

.scroll-link {
  color: white;
}

svg {
  background-color: black;
}
svg circle {
  /*fill: red;*/
}

.board-button-row {

}

.board-button-box {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.svg-row {
  text-align: center;
}

.svg-collection-box {
  text-align: center;
}

.mini-matrix-cell {
  border-radius: 4px;
  border: solid black 1px;
  width: 4px;
  height: 4px;
}
